<%= link_to 'Sign in', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<% if signed_in? %>
  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>

<hr />

<div>
  <% if signed_in? %>
    <%= "#{current_user.email}, thanks for you signing in our site. You have signed in #{current_user.sign_in_count} times.But your total online time is #{current_user.online_time.to_i}s" %>
  <% else %>
    Hi, stranger.You have not logged in, or you have not signed up.But you have browed this page for
    <span id="stranger_time">
      0
    </span>
    minutes.
  <% end %>
</div>

<div>
  <%= "There're #{@online_users_count} users in all.There're m strangers in total." %>
</div>
